<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ProCare Washing</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ProCare</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.procarewashing.mobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.657893521689-rhhcg102al9a7gsdltnttcqt5mfi0gec</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb875353736566589</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.657893521689-tlhsquhls17apnoeobrhjcr8t45068pg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>875353736566589</string>
	<key>FacebookDisplayName</key>
	<string>ProCare</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>FirebaseScreenReportingEnabled</key>
	<true/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>https</string>
		<string>http</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppleMusicUsageDescription</key>
	<string>ProCare Washing requiere acceder a esta funcionalidad para funcionar correctamente.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>ProCare Washing requiere acceder a esta funcionalidad para funcionar correctamente.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>ProCare Washing requiere acceder a esta funcionalidad para funcionar correctamente.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>ProCare Washing requiere acceder al calendario para funcionar correctamente.</string>
	<key>NSCameraUsageDescription</key>
	<string>Tomar una foto de tu carro</string>
	<key>NSContactsUsageDescription</key>
	<string>Esta aplicacion requere acceso a los contactos para funcionar correctamente.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>ProCare Washing requiere acceder a esta funcionalidad para funcionar correctamente.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>ProCare Washing requiere acceder a esta funcionalidad para funcionar correctamente.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>desarrollo</string>
	<key>NSMotionUsageDescription</key>
	<string>ProCare Washing requiere acceder a esta funcionalidad para funcionar correctamente.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Elegir la foto de tu carro</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>ProCare Washing requiere acceder a esta funcionalidad para funcionar correctamente.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
